<div class="exercise ex1" data-js="ex1">
  <dl>
    <dt>Nota 1</dt>
    <dd><input type="text" value="" data-js="note1" /></dd>
  </dl>
  <dl>
    <dt>Nota 2</dt>
    <dd><input type="text" value="" data-js="note2" /></dd>
  </dl>
  <dl>
    <dt>Nota 3</dt>
    <dd><input type="text" value="" data-js="note3" /></dd>
  </dl>
  <button data-js="calculate">Calcular</button>

  <div class="result" data-js="result"></div>
</div>
