<div class="exercise ex2" data-js="ex2">
  <dl>
    <dt>Digite um horario</dt>
    <dd><input type="text" value="" data-js="time" /></dd>
  </dl>
  <dl>
    <dt>Fuso horário</dt>
    <dd>
      <select data-js="timezone">
        <option>Selecione</option>
        <option value="0">Rio de Janeiro</option>
        <option value="0">Buenos Aires</option>
        <option value="3">Londres</option>
        <option value="4">Roma</option>
        <option value="5">Cairo</option>
        <option value="6">Moscou</option>
        <option value="-3">Chicago</option>
        <option value="-32">México</option>
        <option value="-2">Nova Iorque</option>
        <option value="-2">Iugoslávia</option>
        <option value="-1">Cuiabá</option>
        <option value="1">Ilhas São Pedro</option>
      </select>
    </dd>
  </dl>
  <button data-js="calculate">Calcular </button>

  <div class="result" data-js="result"></div>
</div>
