<div class="exercise ex3" data-js="ex3">
  <span class="title1">Agenda telefonica</span>

  <div class="ferramentas-tabela">
    <div class="legenda">
      <div class="procura">
        <span class="title3">Filtrar por Nome:</span>
        <input class="campo filtro" type="text" name="filtro" placeholder="Digite o nome" data-js="table-filter" data-filter-selector="td.info-nome">
      </div>
    </div>
    <div class="procura">
      <span class="title3">Filtrar por Telefone:</span>
      <input class="campo filtro" type="text" name="filtro" placeholder="Digite o telefone" data-js="table-filter" data-filter-selector="td.info-fone">
    </div>
  </div>

  <table class="table">
    <thead>
      <tr >
        <th>Nome</th>
        <th>Cidade</th>
        <th>Telefone</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody data-js="contacts-table-tbody">
      <tr class="contato" title="Duplo clique para remover">
        <td class="info-nome">Ariel Sam</td>
        <td class="info-cidade">Jaraguá do Sul</td>
        <td class="info-fone">47 98861-7240</td>
        <td class="info-email">arielsam56@gmail.com</td>
      </tr>
      <tr class="contato" title="Duplo clique para remover">
        <td class="info-nome">Guilherme Sandmann</td>
        <td class="info-cidade">Schroeder</td>
        <td class="info-fone">47 98814-6459</td>
        <td class="info-email">guilherme_sandmann@hotmail.com</td>
      </tr>
      <tr class="contato" title="Duplo clique para remover">
        <td class="info-nome">Marcos Zimmermann</td>
        <td class="info-cidade">Jaraguá do Sul</td>
        <td class="info-fone">47 99119-0090</td>
        <td class="info-email">marcos@marcosz.com.br</td>
      </tr>
      <tr class="contato" title="Duplo clique para remover">
        <td class="info-nome">Lucas Trancoso</td>
        <td class="info-cidade">Jaraguá do Sul</td>
        <td class="info-fone">47 99653-2558</td>
        <td class="info-email">lucas.trancoso@catolicasc.org.br</td>
      </tr>
    </tbody>
  </table>
  <small>Dois cliques em cima da linha para remover</small>

  <form class="form" data-js="add-contact-form">
    <span class="title3">Adicionar novo contato</span>

    <fieldset class="">
      <div class="form-container">
        <span id="erro-nome" class="erro-msg"></span>
        <label for="nome">Nome:</label>
        <input id="nome" type="text" name="nome" class="campo" placeholder="Digite o nome">
      </div>
    </fieldset>
    <fieldset class="">
      <div class="form-container">
        <span id="erro-cidade" class="erro-msg"></span>
        <label for="cidade">Cidade:</label>
        <input id="cidade" type="text" name="cidade" class="campo" placeholder="Digite a cidade">
      </div>
    </fieldset>
    <fieldset class="">
      <div class="form-container">
        <span id="erro-fone" class="erro-msg"></span>
        <label for="fone">Telefone:</label>
        <input id="fone" type="text" name="fone" class="campo" placeholder="Digite o telefone">
      </div>
    </fieldset>
    <fieldset class="">
      <div class="form-container">
        <span id="erro-email" class="erro-msg"></span>
        <label for="email">E-mail:</label>
        <input id="email" type="text" name="email" class="campo" placeholder="Digite o e-mail">
      </div>
    </fieldset>
    <button class="adicionar" type="submit" name="button">Adicionar</button>
  </form>
</div>
