<div class="exercise ex4" data-js="ex4">
  <form class="form" data-js="conversor-form">
    <label for="word">Palavra:</label>
    <input id="word" type="text" name="word" placeholder="Insira a palavra">
    <button class="adicionar" type="submit" name="button">Converter</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>Original</th>
        <th>Maiúscula</th>
        <th>Minúscula</th>
        <th>Invertida</th>
        <th>Tamanho</th>
      </tr>
    </thead>
    <tbody data-js="conversor-wrapper">
      <tr>
        <td>kaiak</td>
        <td>KAIAK</td>
        <td>kaiak</td>
        <td>kaiaK</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
  <small>Dois cliques em cima da linha para remover</small>
</div>
