<div class="exercise ex5" data-js="ex5">
  <dl>
    <dt>Primeiro Numero</dt>
    <dd><input type="number" value="" data-js="num1" /></dd>
  </dl>
  <dl>
    <dt>Segundo Numero</dt>
    <dd><input type="number" value="" data-js="num2" /></dd>
  </dl>
  <button data-js="check">Verificar</button>

  <div class="result" data-js="result"></div>
</div>
