<div class="exercise ex6" data-js="ex6">
  <dl>
    <dt>Digite um numero</dt>
    <dd><input type="number" value="" data-js="number" /></dd>
  </dl>
  <button data-js="check">Verificar</button>

  <div class="result" data-js="result"></div>
</div>
