.ex3 {
  .title1, .title3 {
    margin: 15px 0;
    display: block;
    font-weight: bold;
  }

  .title1 {
    font-size: 20px;
  }

  .title3 {
    font-size: 16px;
  }

  small {
    text-align: center;
    display: block;
    color: #999;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: .8em;
    text-align: center;
    line-height: 1.2em;
  }

  table thead tr {
    cursor: default;
  }

  table tbody tr:hover {
    cursor: pointer;
    background-color: #CCC;
  }

  table tbody td {
    padding: 8px 3px;
  }

  fieldset {
    border: none;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
  }

  input {
    float: right;
  }

  .erro {
    background-color: rgba(255, 0, 0, 0.7);
  }

  .ok {
    background-color: #FFF;
  }

  .erro, .ok {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 4px;
    margin-right: 2px;
    width: auto;
    display: block;
    float: left;
    text-align: center;
  }

  .title {
    font-size: 1.3em;
  }

  .campo {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid rgba(200, 200, 200, 0.3);
  }

  .form {
    margin: 0;
    display: inline-block;
  }

  .adicionar {
    margin: 8px 4px;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .adicionar:hover {
    background-color: #CCC;
  }

  .form-container {
    padding: 10px;
  }

  .erro-msg {
    color: #D00;
    display: block;
  }

  .fadeOut {
    opacity: 0;
    transition: 0.5s;
  }

  .ferramentas-tabela {
    width: 100%;
    overflow: auto;
  }

  .procura {
    float: right;
    display: inline;
  }

  .legenda {
    display: inline;
    float: left;
  }

  .filtro {
    padding: 6px
  }

  .invisivel {
    display: none;
  }

}
