.ex4 {
  small {
    text-align: center;
    display: block;
    color: #999;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: .8em;
    text-align: center;
    line-height: 1.2em;
  }

  table thead tr {
    cursor: default;
  }

  table tbody tr:hover {
    cursor: pointer;
    background-color: #CCC;
  }

  table tbody td {
    padding: 8px 3px;
  }

  .form {
    margin: 0;
    display: inline-block;

    label {
      font-weight: bold;
    }
  }

  .adicionar {
    margin: 8px 4px;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #CCC;
    }
  }

  .form-container {
    padding: 10px;
  }
}
