.ex5 {
  dl {
    margin-bottom: 15px;

    &:after, &:before {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      clear: left;
    }

    dd, dt {
      float: left;
    }

    dt {
      width: 120px;
    }

    dd {
      margin-left: 15px;
    }
  }

  .result {
    margin-top: 15px;
  }
}
